nba_database.db
*.pyc
*.pyd
*.png
*.pkl
*.csv
*.db
venv/
.venv/
__pycache__/

NBA_Stats_v3/catalogs/.DS_Store
logs/
NBA_Stats_v3/catalogs/parameters/feature_sets.xlsx
.gitignore
catalogs/parameters/~$feature_sets.xlsx
catalogs/parameters/feature_sets.xlsx
catalogs/parameters/feature_sets.xlsx
